.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}
.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 50px;
    font-weight: 600;
    color:rgb(56, 158, 56);
}
.slogan {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

.acerca-de .imagen{
    margin-bottom: 15px;
}